n8n/workflows/price-fetcher.json
{
  "name": "SerpoAI Price Fetcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.DEXSCREENER_API_URL}}/dex/tokens/{{$env.SERPO_CONTRACT_ADDRESS}}",
        "options": {}
      },
      "name": "Fetch SERPO Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse DexScreener response\nconst data = $input.item.json;\nconst pair = data.pairs[0];\n\nreturn {\n  coin_symbol: 'SERPO',\n  price: parseFloat(pair.priceUsd),\n  price_change_24h: parseFloat(pair.priceChange?.h24 || 0),\n  volume_24h: parseFloat(pair.volume?.h24 || 0),\n  liquidity: parseFloat(pair.liquidity?.usd || 0),\n  recorded_at: new Date().toISOString()\n};"
      },
      "name": "Parse Price Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "market_data",
        "columns": "coin_symbol,price,price_change_24h,volume_24h,recorded_at",
        "additionalFields": {}
      },
      "name": "Store in Database",
      "type": "n8n-nodes-base.mysql",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "mysql": {
          "id": "1",
          "name": "MySQL SerpoAI"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch SERPO Price", "type": "main", "index": 0 }]]
    },
    "Fetch SERPO Price": {
      "main": [[{ "node": "Parse Price Data", "type": "main", "index": 0 }]]
    },
    "Parse Price Data": {
      "main": [[{ "node": "Store in Database", "type": "main", "index": 0 }]]
    }
  }
}
